*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
  }
  
  /*
   * arriere plan
   */
  body {
    background-color: rgb(148, 48, 18);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
  
  /*
   * contour
   */
  .clock {
    width: 300px;
    height: 300px;
    background-color: rgba(13, 99, 27, 0.8);
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
    position: relative;
  }
 
  .clock .line {
    --rotation: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 0.5rem;
    color: var(--color);
  }
  
  .clock .number {
    --rotation: 0deg;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    font-size: 1.0rem;
    color: var(--color);
  }
  
  .clock .number0  { --rotation: 180deg;  --color: rgb(255, 255, 255);}
  .clock .number1  { --rotation: 195deg;  --color: rgb(255, 255, 255);}
  .clock .number2  { --rotation: 210deg;  --color: rgb(255, 255, 255);}
  .clock .number3  { --rotation: 225deg;  --color: rgb(255, 255, 255);}
  .clock .number4  { --rotation: 240deg;  --color: rgb(255, 255, 255);}
  .clock .number5  { --rotation: 255deg;  --color: rgb(255, 255, 255);}
  .clock .number6  { --rotation: 270deg;  --color: rgb(255, 255, 255);}
  .clock .number7  { --rotation: 285deg;  --color: rgb(255, 255, 255);}
  .clock .number8  { --rotation: 300deg;  --color: rgb(255, 255, 255);}
  .clock .number9  { --rotation: 315deg;  --color: rgb(255, 255, 255);}
  .clock .number10 { --rotation: 330deg;  --color: rgb(255, 255, 255);}
  .clock .number11 { --rotation: 345deg;  --color: rgb(255, 255, 255);}
  .clock .number12 { --rotation: 360deg;  --color: rgb(255, 255, 255);}
  .clock .number13 { --rotation: 15deg;   --color: rgb(255, 255, 255);}
  .clock .number14 { --rotation: 30deg;   --color: rgb(255, 255, 255);}
  .clock .number15 { --rotation: 45deg;   --color: rgb(255, 255, 255);}
  .clock .number16 { --rotation: 60deg;   --color: rgb(255, 255, 255);}
  .clock .number17 { --rotation: 75deg;   --color: rgb(255, 255, 255);}
  .clock .number18 { --rotation: 90deg;   --color: rgb(255, 255, 255);}
  .clock .number19 { --rotation: 105deg;  --color: rgb(255, 255, 255);}
  .clock .number20 { --rotation: 120deg;  --color: rgb(255, 255, 255);}
  .clock .number21 { --rotation: 135deg;  --color: rgb(255, 255, 255);}
  .clock .number22 { --rotation: 150deg;  --color: rgb(255, 255, 255);}
  .clock .number23 { --rotation: 165deg;  --color: rgb(255, 255, 255);}


  .clock .line0 { --rotation: 0deg; --color: rgb(255, 255, 255);}
  .clock .line1 { --rotation: 5deg; --color: rgb(255, 255, 255);}
  .clock .line2 { --rotation: 10deg; --color: rgb(255, 255, 255);}
  .clock .line3 { --rotation: 15deg; --color: rgb(255, 255, 255);}
  .clock .line4 { --rotation: 20deg; --color: rgb(255, 255, 255);}
  .clock .line5 { --rotation: 25deg; --color: rgb(255, 255, 255);}
  .clock .line6 { --rotation: 30deg; --color: rgb(255, 255, 255);}
  .clock .line7 { --rotation: 35deg; --color: rgb(255, 255, 255);}
  .clock .line8 { --rotation: 40deg; --color: rgb(255, 255, 255);}
  .clock .line9 { --rotation: 45deg; --color: rgb(255, 255, 255);}
  .clock .line10 { --rotation: 50deg; --color: rgb(255, 255, 255);}
  .clock .line11 { --rotation: 55deg; --color: rgb(255, 255, 255);}
  .clock .line12 { --rotation: 60deg; --color: rgb(255, 255, 255);}
  .clock .line13 { --rotation: 65deg; --color: rgb(255, 255, 255);}
  .clock .line14 { --rotation: 70deg; --color: rgb(255, 255, 255);}
  .clock .line15 { --rotation: 75deg; --color: rgb(255, 255, 255);}
  .clock .line16 { --rotation: 80deg; --color: rgb(255, 255, 255);}
  .clock .line17 { --rotation: 85deg; --color: rgb(255, 255, 255);}
  .clock .line18 { --rotation: 90deg; --color: rgb(255, 255, 255);}
  .clock .line19 { --rotation: 95deg; --color: rgb(255, 255, 255);}
  .clock .line20 { --rotation: 100deg; --color: rgb(255, 255, 255);}
  .clock .line21 { --rotation: 105deg; --color: rgb(255, 255, 255);}
  .clock .line22 { --rotation: 110deg; --color: rgb(255, 255, 255);}
  .clock .line23 { --rotation: 115deg; --color: rgb(255, 255, 255);}
  .clock .line24 { --rotation: 120deg; --color: rgb(255, 255, 255);}
  .clock .line25 { --rotation: 125deg; --color: rgb(255, 255, 255);}
  .clock .line26 { --rotation: 130deg; --color: rgb(255, 255, 255);}
  .clock .line27 { --rotation: 135deg; --color: rgb(255, 255, 255);}
  .clock .line28 { --rotation: 140deg; --color: rgb(255, 255, 255);}
  .clock .line29 { --rotation: 145deg; --color: rgb(255, 255, 255);}
  .clock .line30 { --rotation: 150deg; --color: rgb(255, 255, 255);}
  .clock .line31 { --rotation: 155deg; --color: rgb(255, 255, 255);}
  .clock .line32 { --rotation: 160deg; --color: rgb(255, 255, 255);}
  .clock .line33 { --rotation: 165deg; --color: rgb(255, 255, 255);}
  .clock .line34 { --rotation: 170deg; --color: rgb(255, 255, 255);}
  .clock .line35 { --rotation: 175deg; --color: rgb(255, 255, 255);}
  .clock .line36 { --rotation: 180deg; --color: rgb(255, 255, 255);}
  .clock .line37 { --rotation: 185deg; --color: rgb(255, 255, 255);}
  .clock .line38 { --rotation: 190deg; --color: rgb(255, 255, 255);}
  .clock .line39 { --rotation: 195deg; --color: rgb(255, 255, 255);}
  .clock .line40 { --rotation: 200deg; --color: rgb(255, 255, 255);}
  .clock .line41 { --rotation: 205deg; --color: rgb(255, 255, 255);}
  .clock .line42 { --rotation: 210deg; --color: rgb(255, 255, 255);}
  .clock .line43 { --rotation: 215deg; --color: rgb(255, 255, 255);}
  .clock .line44 { --rotation: 220deg; --color: rgb(255, 255, 255);}
  .clock .line45 { --rotation: 225deg; --color: rgb(255, 255, 255);}
  .clock .line46 { --rotation: 230deg; --color: rgb(255, 255, 255);}
  .clock .line47 { --rotation: 235deg; --color: rgb(255, 255, 255);}
  .clock .line48 { --rotation: 240deg; --color: rgb(255, 255, 255);}
  .clock .line49 { --rotation: 245deg; --color: rgb(255, 255, 255);}
  .clock .line50 { --rotation: 250deg; --color: rgb(255, 255, 255);}
.clock .line51 { --rotation: 255deg; --color: rgb(255, 255, 255);}
.clock .line52 { --rotation: 260deg; --color: rgb(255, 255, 255);}
.clock .line53 { --rotation: 265deg; --color: rgb(255, 255, 255);}
.clock .line54 { --rotation: 270deg; --color: rgb(255, 255, 255);}
.clock .line55 { --rotation: 275deg; --color: rgb(255, 255, 255);}
.clock .line56 { --rotation: 280deg; --color: rgb(255, 255, 255);}
.clock .line57 { --rotation: 285deg; --color: rgb(255, 255, 255);}
.clock .line58 { --rotation: 290deg; --color: rgb(255, 255, 255);}
.clock .line59 { --rotation: 295deg; --color: rgb(255, 255, 255);}
.clock .line60 { --rotation: 300deg; --color: rgb(255, 255, 255);}
.clock .line61 { --rotation: 305deg; --color: rgb(255, 255, 255);}
.clock .line62 { --rotation: 310deg; --color: rgb(255, 255, 255);}
.clock .line63 { --rotation: 315deg; --color: rgb(255, 255, 255);}
.clock .line64 { --rotation: 320deg; --color: rgb(255, 255, 255);}
.clock .line65 { --rotation: 325deg; --color: rgb(255, 255, 255);}
.clock .line66 { --rotation: 330deg; --color: rgb(255, 255, 255);}
.clock .line67 { --rotation: 335deg; --color: rgb(255, 255, 255);}
.clock .line68 { --rotation: 340deg; --color: rgb(255, 255, 255);}
.clock .line69 { --rotation: 345deg; --color: rgb(255, 255, 255);}
.clock .line70 { --rotation: 350deg; --color: rgb(255, 255, 255);}
.clock .line71 { --rotation: 355deg; --color: rgb(255, 255, 255);}

  /*
   * aiguille
   */
  .clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    /*border: 1px solid rgb(197, 20, 20);*/
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg)); /* FAUX */
  }
 
  /*
   * point central
   */
  .clock::after {
    content: '';
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  /*
   * aiguille heure
   */
  .clock .hand.hour {
    width: 7px;
    height: 44%;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
