*, *::after, *::before {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
  }
  
  /*
   * global
   */
 body {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}


/*  7 lines for each hexagons
 *  4 hexagons
 *     - hours base 10
 *     - hours base 1
 *     - minutes base 10
 *     - minutes base 1
 *
 *
 *                    l4
 *               ____________
 *              /            \
 *       l0    /              \   l2
 *            /  l6        l7  \
 *           /____          ____\
 *           \                  /
 *            \                /
 *       l1    \              /   l3
 *              \____________/
 *
 *                    l5
 *
 */

/*
 * too bad, should use hexagon template
 */

.hexagons {
  width: 800px;
  height: 800px;
  background-color: rgba(255, 255, 255);
  position: center;
}


/* dizaine heure */
.hexagons .h10 {
  border: 2px solid rgb(221, 18, 18);
  width: 400px;
}

.hexagons .l0h10 {transform: translate(-300px, 190px) rotate(-60deg);}
.hexagons .l1h10 {transform: translate(-300px, 530px) rotate(60deg);}
.hexagons .l2h10 {transform: translate(300px, 180px) rotate(60deg);}
.hexagons .l3h10 {transform: translate(300px, 525px) rotate(-60deg);}
.hexagons .l4h10 {transform: rotate(0deg);}
.hexagons .l5h10 {transform: translate(0px, 690px) rotate(0deg);}
.hexagons .l6h10 {transform: translate(-200px, 338px) rotate(0deg); width: 50px;}
.hexagons .l7h10 {transform: translate(550px, 335px) rotate(0deg); width: 50px;}

/* unite heure */
.hexagons .h1 {
  border: 2px solid rgb(31, 197, 16);
  width: 350px;
}

.hexagons .l0h1 {transform: translate(-233px, 170px) rotate(-60deg);}
.hexagons .l1h1 {transform: translate(-233px, 490px) rotate(60deg);}
.hexagons .l2h1 {transform: translate(290px, 160px) rotate(60deg);}
.hexagons .l3h1 {transform: translate(290px, 480px) rotate(-60deg);}
.hexagons .l4h1 {transform: translate(30px, 0px) rotate(0deg);}
.hexagons .l5h1 {transform: translate(30px, 625px) rotate(0deg);}
.hexagons .l6h1 {transform: translate(-142px, 308px) rotate(0deg); width: 50px;}
.hexagons .l7h1 {transform: translate(490px, 302px) rotate(0deg); width: 50px;}

/* dizaine minute */
.hexagons .m10 {
  border: 2px solid rgb(238, 150, 36);
  width: 300px;
}

.hexagons .l0m10 {transform: translate(-160px, 160px) rotate(-60deg);}
.hexagons .l1m10 {transform: translate(-160px, 438px) rotate(60deg);}
.hexagons .l2m10 {transform: translate(265px, 155px) rotate(60deg);}
.hexagons .l3m10 {transform: translate(265px, 425px) rotate(-60deg);}
.hexagons .l4m10 {transform: translate(65px, 15px) rotate(0deg); width: 275px;}
.hexagons .l5m10 {transform: translate(65px, 550px) rotate(0deg); width: 275px;}
.hexagons .l6m10 {transform: translate(-85px, 277px) rotate(0deg); width: 50px;}
.hexagons .l7m10 {transform: translate(430px, 270px) rotate(0deg); width: 50px;}


/* unite minute */
.hexagons .m1 {
  border: 2px solid rgb(26, 68, 158);
  width: 250px;
}

.hexagons .l0m1 {transform: translate(-85px, 145px) rotate(-60deg);}
.hexagons .l1m1 {transform: translate(-85px, 380px) rotate(60deg);}
.hexagons .l2m1 {transform: translate(240px, 140px) rotate(60deg);}
.hexagons .l3m1 {transform: translate(240px, 370px) rotate(-60deg);}
.hexagons .l4m1 {transform: translate(103px, 22px) rotate(0deg); width: 200px;}
.hexagons .l5m1 {transform: translate(103px, 470px) rotate(0deg); width: 200px;}
.hexagons .l6m1 {transform: translate(-15px, 243px) rotate(0deg); width: 215px;}
.hexagons .l7m1 {transform: translate(200px, 239px) rotate(0deg); width: 215px;}
